body { margin: 0; padding: 0; font-family: Arial, sans-serif; font-size: 14px; line-height: 150%; background: #eee; text-align: center;}
.headerContainerWrapper { background: greenyellow; }
.center { max-width: 960px; margin: 0 auto; }
.headerContainer, .bodyContainer, .footerContainer { max-width: 960px; margin: 0 auto; background: #FFF; }
.padding {	padding: 20px; }
.bodyContainer { min-height: 500px; }



/* General Styles for Menu  */
.menuBackground {
	background: #59596E;
	text-align: center;
}
.dropDownMenu a {
	color: whitesmoke;
}
.dropDownMenu,
.dropDownMenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.dropDownMenu li {
	position: relative;
}
.dropDownMenu a {
	padding: 10px 20px;
	display: block;
	text-decoration: none;
}
.dropDownMenu a:hover {
	background: #373750;
}


/* Level 1 Drop Down */
.dropDownMenu > li {
	display: inline-block;
	vertical-align: top;
	margin-left: -4px; /* solve the 4 pixels spacing between list-items */
}
.dropDownMenu > li:first-child {
	margin-left: 0;
}

/* Level 2 */
.dropDownMenu ul {
	box-shadow: 2px 2px 15px 0 rgba(0,0,0, 0.5);
}
.dropDownMenu > li > ul {
	text-align: left;
	display: none;
	background:  #59596E;
	position: absolute;
	top: 100%;
	left: 0;
	width: 240px;
	z-index: 999999; /* if you have YouTube iframes, is good to have a bigger z-index so the video can appear above the video */
}

/* Level 3 */
.dropDownMenu > li > ul > li > ul {
	text-align: left;
	display: none;
	background:  #59596E;
	position: absolute;
	left: 100%;
	top: 0;
	z-index: 9999999;
}

#foodlinkWrapper img{
    height: 200px;
    width: auto;
    float: left;
}
#foodlinkWrapper .foodlinkText {
position:relative;
bottom:30px;
left:30px;
visibility:hidden;
}

#foodlinkWrapper:hover .foodlinkText {
visibility:visible;
}

#mainContent {
    margin-top: 120px;
}